---
title: Server-side Rendering
layout: recipe
published: 2021-06-14T11:30:41-07:00
---

_some content_

- What is it
- What does the API look like
- building an SSR component
- hydrating an SSR component with a client build
- building a simple express-based SSR server thing
- putting it all together
