---
title: Benchmarking Svelte Components
layout: recipe
published: 2021-06-14T11:30:41-07:00
---

_This is a stub, if you are interested in this topic please reach out [via GitHub](https://github.com/svelte-society/sveltesociety.dev/issues/60) and lets work on this together._

1. Time taking for component to render.
2. Response time after event is fired
3. How much resources is the component consuming.

You may also be interested in this related benchmarking work:

- https://svelte-scaling.acmion.com/
- https://github.com/halfnelson/svelte-it-will-scale
