*                 text=auto
*.html            text diff=html
*.css             text
*.js              text
*.cjs             text
*.json            text
*.lock            text -diff
package-lock.json text -diff
*.svg             text
*.*ignore         text
*.svelte          text diff=html
*.svx             text diff=markdown
*.md              text diff=markdown
*.svg             text
*.woff2           binary
*.*rc             text

#
# Exclude files from exporting
#

.editorconfig     export-ignore
.eslintrc.cjs     export-ignore
.gitattributes    export-ignore
.github/          export-ignore
.gitignore        export-ignore
.gitpod.yml       export-ignore
.npmrc            export-ignore
.prettierignore   export-ignore
.prettierrc       export-ignore
jest.config.cjs   export-ignore
