.DS_Store
node_modules
/backups
/build
/.vercel
/.svelte-kit
/test-results
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode
/local_event.db*
/local.db*
/test.db*
.state_directory