{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svx",
			"options": { "parser": "mdx" }
		}
	]
}
