.DS_Store
node_modules
/build
/.vercel
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode
local.db
local.db-shm
local.db-wal
test.db
test.db-shm
test.db-wal