---
title: Svelte Society Day 2020 France
layout: eventPage
date: 2020-09-27
---

The Svelte Society Day 2020 was an event for french Svelte developers with eleven french talks on our youtube channel about Svelte related topics like:

- React-/Angularmigration to Svelte
- Typescript at Svelte
- GraphQL
- routify

To get more information visit the [Svelte Society france website](https://france.sveltesociety.dev/).

<br>
<br>
