/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 59 0 105;
		--color-secondary: 255 63 63;
		--color-tertiary: 43 45 66;
	}
}

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: local(''), url('/fonts/Manrope.woff2') format('woff2');
}