---
title: Routing with Svelte
layout: recipe
published: 2021-06-14T11:30:41-07:00
---

_to be written_

- A map for an app: what is routing
- Different approaches
  - XML-style: [svelte-routing](https://github.com/EmilTholin/svelte-routing)
  - Express-style: [navaid](https://github.com/lukeed/navaid)
  - FS based routing: [routify](https://routify.dev/)

### Further Links

- https://routify.dev/ (with https://github.com/sveltech/routify-starter)
- https://github.com/EmilTholin/svelte-routing
