<style>
h1 {
	@apply mt-10;
}
h2 {
	@apply text-3xl mt-8 mb-4;
}
table {
	@apply border my-8;
}
th, td {
	@apply p-4;
}
thead {
	@apply border-b text-left bg-gray-200;
}
tr:nth-of-type(2n) {
	@apply bg-gray-50;
}
</style>

# How to submit a new component?

To add a new component on the website, the process is rather simple.

You have to add your component in [components.json](https://github.com/svelte-society/sveltesociety.dev/blob/master/src/routes/components/components.json)

## Forking the project

You can fork the [GitHub project](https://github.com/svelte-society/sveltesociety.dev/), add your component and then propose a Pull request.

## Edit the file

You can edit and propose your changes [directly in GitHub](https://github.com/svelte-society/sveltesociety.dev/edit/master/src/pages/components/components.json)

# What information should I give ?

Each component is represented by a JSON Object.

The object contains:

| Field                    | Description                                                                                                                                                                                                                    |
| ------------------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
| `title`                  | Name of the component                                                                                                                                                                                                          |
| `url` (optional)         | The URL where to find it                                                                                                                                                                                                       |
| `description` (optional) | A short description of the component                                                                                                                                                                                           |
| `tags`                   | A list of tags (avoid creating new tags)                                                                                                                                                                                       |
| `image` (optional)       | An image to quickly view what your component is all about                                                                                                                                                                      |
| `category` (optional)    | The category of the component (one of `Boilerplate`, `Data Visualisation`, `Design Pattern`, `Design System`, `Developer Experience`, `Forms & User Input`, `Integration`, `Routers`, `Stores`, `Testing`, `User Interaction`) |
| `npm` (optional)         | The npm name of the component                                                                                                                                                                                                  |

## Example

```json
{
	"title": "svelte-calendar",
	"url": "https://github.com/6eDesign/svelte-calendar",
	"description": "A lightweight date picker with neat animations and a unique UX",
	"tags": ["components and libraries", "time and date"],
	"image": "",
	"category": "Forms & User Input"
}
```
