*,
:before,
:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	line-sizing: normal;
}
body {
	margin: 0;
}
[hidden] {
	display: none;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.83rem;
}
h6 {
	font-size: 0.67rem;
}
h1 {
	margin: 0.67em 0;
}
pre {
	white-space: pre-wrap;
}
hr {
	border-style: solid;
	border-width: 1px 0 0;
	color: inherit;
	height: 0;
	overflow: visible;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	vertical-align: middle;
	max-width: 100%;
}
audio:not([controls]) {
	display: none;
}
picture {
	display: contents;
}
source {
	display: none;
}
img,
svg,
video,
canvas {
	height: auto;
}
audio {
	width: 100%;
}
img {
	border-style: none;
}
svg {
	overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
@font-face {
	font-family: Inter;
	src: url(../../../fonts/Inter-Regular.woff2);
	font-display: swap;
}
@font-face {
	font-family: Overpass;
	src: url(../../../fonts/Overpass-SemiBold.woff2);
	font-display: swap;
	font-weight: 600;
}
@font-face {
	font-family: Overpass;
	src: url(../../../fonts/Overpass-Bold.woff2);
	font-display: swap;
	font-weight: 700;
}
:root {
	--primary: #ff3e00;
	--secondary: #d13400;
	--accent: #011627;
	--orange: #f97316;
	--gray: #c1cfda;
	--dark-gray: #7e7e93;
	--black: #12130f;
	--white: #f3f6f9;
	--success: #29bf12;
	--caution: #fcdc4d;
	--error: #ff3e00;
	--bg-color: var(--white);
	--text-color: var(--accent);
	--accent-color: var(--accent);
	--link-color: var(--secondary);
	--primary-color: var(--primary);
	--header-text-color: var(--white);
	--max-width: 1496px;
	--font-heading: 'Overpass', sans-serif;
	--font-body: 'Inter', sans-serif;
	--font-code: 'Fira Mono', monospace;
	--font-100: 0.85rem;
	--font-200: clamp(1rem, 1.0655rem + 0.6098vw, 1.25rem);
	--font-300: clamp(1.25rem, 1.2494rem + 0.878vw, 1.333rem);
	--font-400: clamp(1.5rem, 1.4627rem + 1.2366vw, 1.777rem);
	--font-500: clamp(2.0519rem, 1.7092rem + 1.7134vw, 2.369rem);
	--font-600: clamp(2.4625rem, 1.9945rem + 2.3402vw, 3.157rem);
	--font-700: clamp(2.955rem, 2.3218rem + 3.1659vw, 4.209rem);
	--s-0: 0px;
	--s-1: 0.25rem;
	--s-2: 0.5rem;
	--s-3: 0.75rem;
	--s-4: 1rem;
	--s-5: 1.25rem;
	--s-6: 1.5rem;
	--s-7: 1.75rem;
	--s-8: 2rem;
	--s-10: 2.5rem;
	--s-12: 3rem;
	--s-14: 3.5rem;
	--s-16: 4rem;
	--s-20: 5rem;
	--s-24: 6rem;
	--s-28: 7rem;
	--s-32: 8rem;
	--s-36: 9rem;
	--s-40: 10rem;
	--s-44: 11rem;
	--s-48: 12rem;
	--s-52: 13rem;
	--s-56: 14rem;
	--s-60: 15rem;
	--s-64: 16rem;
	--s-72: 18rem;
	--s-80: 20rem;
	--s-90: 24rem;
	--s-auto: auto;
	--s-1fourth: 25%;
	--s-1third: 33.3333333%;
	--s-1half: 50%;
	--s-2thirds: 66.666667%;
	--s-3fourths: 75%;
	--s-full: 100%;
	--s-screen: 100vw;
	--s-min: min-content;
	--s-max: max-content;
	--shadow-dreamy: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
		0 32px 64px rgba(0, 0, 0, 0.07);
	--shadow-short: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
		0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
	--shadow-long: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
		0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
	--shadow-sharp: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
		0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
	--shadow-diffuse: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
	--link-transition: border-bottom 0.15s ease-out;
	--menu-transition: scale 0.2s ease-out;
}
body {
	border-top: 6px solid var(--primary);
	font-family: var(--font-body);
	font-size: var(--font-200);
	min-height: 100vh;
}
#sveltekit-entry {
	min-height: 99.7vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
a {
	color: var(--link-color);
	text-decoration: none;
	border-bottom: 1px solid var(--link-color);
	transition: var(--link-transition);
}
h3 > a {
	border-bottom: none;
}
h3 > a:hover {
	border-bottom: none;
	text-decoration: none;
}
blockquote {
	padding-left: var(--font-200);
	border-left: 5px solid;
	font-style: italic;
}
figcaption {
	font-size: var(--font-100);
	font-style: italic;
	margin-top: 1rem;
	margin-left: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	font-weight: 700;
}
h1 {
	font-size: var(--font-700);
}
h2 {
	font-size: var(--font-600);
}
h3 {
	font-size: var(--font-500);
}
h4 {
	font-size: var(--font-400);
}
h5 {
	font-size: var(--font-300);
}
h6 {
	font-size: var(--font-200);
}
li {
	list-style: none;
}
.container {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	margin: 0 auto;
	width: 100%;
	max-width: var(--max-width);
}
.heading {
	text-align: center;
	margin: var(--s-6);
}
.text-center {
	text-align: center;
}
.center {
	display: grid;
	place-items: center;
	place-content: center;
}
hr {
	margin-block: 4rem;
}
.submit {
	position: absolute;
	top: calc(100% + 1rem);
	left: 0;
}
.controls {
	display: grid;
	justify-content: stretch;
	align-items: center;
	gap: var(--s-4);
	font-family: Overpass;
	position: relative;
}
.inputs {
	display: grid;
	gap: var(--s-2);
}
.searchbar {
	padding: 20.5px var(--s-2);
	border: 2px solid var(--dark-gray);
	border-radius: 2px;
	align-self: flex-end;
	grid-row: 1/2;
	font-family: Overpass;
	background: #f3f6f9 url(../../../images/search-icon.svg) 98% no-repeat;
	margin: 0;
}
.searchbar:focus {
	outline: none;
	border: 1px solid var(--secondary);
}
.searchbar-count {
	position: absolute;
	top: calc(100% + 1rem);
	right: 0;
}
ul.popin {
	padding: 0.5ex;
	margin: 0;
	font-size: 0.7em;
	max-height: 50vh;
	overflow-y: auto;
}
ul.popin li {
	list-style: none;
	padding: 0;
	margin: 0;
	text-transform: capitalize;
}
ul.popin li:hover {
	background: #eee;
	border-radius: 3px;
}
ul.popin li.tag-search {
	position: sticky;
	top: -0.5ex;
	margin: 0 -0.5ex;
	padding: 0.5ex;
	border-radius: 4px;
	background: white;
}
ul.popin li.tag-search input {
	margin: 0;
	background: #f3f6f9;
	width: 100%;
	min-width: 15ch;
}
ul.popin li.tag-search:hover {
	background: white;
}
ul.popin.no-wrap li {
	white-space: nowrap;
}
ul.popin li label {
	display: flex;
	align-items: center;
	line-height: 0.7rem;
	padding: 0.8ex;
}
ul.popin li input {
	flex: 0;
	margin: 0 1ex 0 0;
}
@media (min-width: 1280px) {
	.controls {
		grid-template-columns: 2fr 1fr;
	}
	.searchbar {
		grid-row: auto;
	}
	.inputs {
		grid-template-columns: repeat(4, auto);
	}
}
header.svelte-s0hk1x {
	background: var(--accent-color);
	color: var(--header-text-color);
	padding: var(--s-6) var(--s-4);
}
nav.svelte-s0hk1x {
	padding: 2rem 0;
}
ul.svelte-s0hk1x {
	display: grid;
	gap: var(--s-6);
	justify-content: center;
	place-items: center;
	font-weight: 800;
}
li.svelte-s0hk1x {
	position: absolute;
	right: var(--s-4);
	top: var(--s-4);
}
img.svelte-s0hk1x {
	width: var(--s-12);
	height: var(--s-12);
}
.logo.svelte-s0hk1x {
	border-bottom: none;
}
@media (min-width: 1280px) {
	ul.svelte-s0hk1x {
		display: flex;
		justify-content: space-between;
	}
	li.svelte-s0hk1x {
		display: flex;
		position: relative;
		inset: 0;
		align-items: center;
	}
	img.svelte-s0hk1x {
		width: var(--s-32);
		height: var(--s-32);
	}
}
@media print {
	header.svelte-s0hk1x {
		display: none;
	}
}
footer.svelte-ypycgj {
	background-color: var(--accent);
	color: var(--white);
	padding: var(--s-8);
	font-size: var(--font-200);
}
.container.svelte-ypycgj {
	display: grid;
	gap: var(--s-2);
	justify-items: center;
	justify-content: center;
	text-align: center;
}
@media (min-width: 768px) {
	footer.svelte-ypycgj {
		padding: var(--s-12);
	}
	.container.svelte-ypycgj {
		display: flex;
		gap: var(--s-6);
	}
}
@media print {
	footer.svelte-ypycgj {
		display: none;
	}
}
main.svelte-ew0nie {
	padding: var(--s-10) var(--s-5) var(--s-20);
}
@media (min-width: 1280px) {
	main.svelte-ew0nie {
		padding: var(--s-20) var(--s-5);
	}
}
