div.svelte-1ba3q7j.svelte-1ba3q7j {
	font-size: 1rem;
	border: 2px solid var(--dark-gray);
	border-radius: 3px;
	background-color: #fff;
	color: var(--dark-gray);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 13.5px var(--s-2);
	position: relative;
}
div.small.svelte-1ba3q7j.svelte-1ba3q7j {
	font-size: var(--font-100);
}
div.svelte-1ba3q7j.svelte-1ba3q7j:hover {
	cursor: pointer;
	border-color: var(--secondary);
	color: var(--secondary);
}
.arrow.svelte-1ba3q7j.svelte-1ba3q7j {
	margin-left: 25px;
	height: 16px;
	-webkit-mask: url(../../../images/right-arrow.svg) no-repeat center;
	mask: url(../../../images/right-arrow.svg) no-repeat center;
	background-color: var(--dark-gray);
}
div.svelte-1ba3q7j:hover .arrow.svelte-1ba3q7j {
	background-color: var(--secondary);
}
.arrow.active.svelte-1ba3q7j.svelte-1ba3q7j {
	background-color: var(--dark-gray);
}
.popin.svelte-1ba3q7j.svelte-1ba3q7j {
	min-width: 250px;
	width: 100%;
	font-size: var(--font-100);
	display: none;
	position: absolute;
	left: var(--s-4);
	top: 100%;
	z-index: 100;
	margin: 0;
	padding: 0;
	border: 2px solid var(--secondary);
	border-radius: 5px;
	background: white;
}
div.svelte-1ba3q7j:hover .popin.svelte-1ba3q7j:not(:empty) {
	display: block;
}
span.svelte-1ba3q7j.svelte-1ba3q7j {
	font-size: 0.875rem;
}
@media screen and (min-width: 700px) {
	.popin.svelte-1ba3q7j.svelte-1ba3q7j {
		left: 95%;
		top: var(--s-4);
	}
}
article.svelte-cqh5c8 {
	max-width: 1024px;
	display: grid;
	gap: var(--s-10);
}
ul.svelte-cqh5c8 {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--s-20);
	row-gap: var(--s-5);
	justify-content: space-around;
	text-align: center;
}
img.svelte-cqh5c8 {
	width: 128px;
}
@media (min-width: 1280px) {
	article.svelte-cqh5c8 {
		gap: var(--s-20);
	}
}
