# About Svelte Society

Svelte Society is the global Svelte community organization. It started as a series of meetups in [New York](https://www.downtomeet.com/Svelte-Society-NYC), [London](https://beta.guild.host/svelte-society-london/events/), and [Stockholm](https://www.meetup.com/Sveltejs-Society-Stockholm/), then combined into a global network in early 2020. Today it comprises:

- [This website](https://github.com/svelte-society/sveltesociety.dev), which documents Recipes and Examples beyond [the official docs](https://svelte.dev/) and [Events about Svelte](https://sveltesociety.dev/events)
- Podcast: https://www.svelteradio.com/
- Conference: https://sveltesummit.com/
- Discord: https://discord.gg/svelte
- YouTube: http://youtube.com/SvelteSociety
- Twitter: https://twitter.com/sveltesociety
- [~20 meetups across 3 continents](https://twitter.com/SvelteSociety/status/1235264100600631296?s=20)

## Svelte Society Code of Conduct

All interaction on any platform associated with Svelte Society is subject to a Code of Conduct, enforced by Svelte maintainers and Svelte Society organizers. Even though it'd be great if we lived in a world where this wasn't an issue, Code of Conducts are required to ensure that everyone can attend events without reservations.

### TL;DR

Svelte Society is dedicated to providing **a harassment-free community for everyone**, regardless of sex, gender identity or expression, sexual orientation, disability, physical appearance, age, race, nationality, or religious beliefs. **We do not tolerate harassment of community members in any form.** Participants violating these rules may be sanctioned or expelled from the community at the discretion of Svelte Society organizers.

All attendees, speakers, sponsors, instructors, and volunteers at our events are required to agree with the following code of conduct. Leadership will enforce this code at all times. We expect cooperation from all participants to help ensure a safe environment for everybody.

If you have questions or feedback about this Code of Conduct please [contact the organizers](https://discord.gg/tnu54nB).

### No Harassment

Harassment includes offensive verbal or written comments related to sex, gender identity or expression, sexual orientation, disability, physical appearance, age, race, nationality, or religious beliefs, deliberate intimidation, threats, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Sexual language and imagery is not appropriate for any Svelte Society event or communication channel. Community members asked to stop any harassing behavior are expected to comply immediately.

If a community member engages in harassing behavior, Svelte Society organizers may take any action they deem appropriate, including warning the offender, expulsion from the Svelte Society community, and/or removal from an event. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a Svelte Society organizer immediately, or as soon as you feel comfortable doing so.

### Diversity and Inclusion

Svelte is for everyone. Svelte Society understands that it needs to have representative voices from a range of diverse backgrounds for the Svelte community to thrive. This is reflected in the Svelte Society Discord and Twitter.

However, a lot of work remains to be done. The original Svelte Society meetups and Svelte Society Day France had women co-organizers, and Svelte events have had some speakers from under-represented minorities. However, to date we have yet to have under-represented minorities on the Svelte Society organizer roster. If you are interested in helping us meet this goal, please [get in touch](https://discord.gg/tnu54nB).

### Acknowledgements

Special thanks to [VueMeetups](https://events.vuejs.org/code-of-conduct/#english) for the basis of this Code of Conduct.

## License information

The license information can be found [here](https://sveltesociety.dev/licenses).
